@import url('https://fonts.googleapis.com/css2?family=Federo&family=Limelight&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Federo";
  color: white;
  font-size: 25px;
}

body {
  display: grid;
  justify-content: center;
  align-content: end;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


/* Top section of page */
.top {
  background-color: #012112;
  border: 10px solid #01180E;
  box-shadow: inset 0 0 10px #01180E;
}
#talk-area {
  display: grid;
  grid-template-columns: 520px 1fr;
  justify-content: space-between;
  width: max(100vw, 1600px);
  height: 350px;
  margin: 0 auto;
  position: relative;
}

#info {
  display: grid;
  grid-template-rows: 61px 1fr 43px;
  justify-content: center;
  align-items: center;
  padding: 50px 0 35px 0;
  height: 350px;
}

h1 {
  font-size: 60px;
  font-family: "Limelight";
  text-align: center;
  color: white;
  width: 400px;
}

.bank, #bank-amount { 
  text-align: center; 
  font-size: 30px;
}
div.bank { padding-bottom: 10px; }

#buttons-area {
  display: flex;
  justify-content: space-between;
}

#cheat-mode { padding-top: 6px; }
#cheat-mode-input { 
  height: 16px;
  width: 16px;
}
#cheat-mode-label { 
  display: inline-block;
  text-align: center;
  font-size: 18px; 
  height: 23px;
}

#cassie {
  height: 350px;
  position: absolute;
  top: 35px;
  right: 50px;
}

#talk-bubble {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 375px;
}

#bubble {
  width: 600px;
  height: 200px;
  border-radius: 30px;
  background-color: white;
  padding: 30px;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bubble-point {
  height: 0;
  width: 0;
  border-left: 30px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#bubble p { color: black; }

#bet-div { text-align: center; }

#bet-amount { 
  display: none; 
  width: 120px;
  height: 43px;
  border-radius: 8px;
  margin: 0 auto;
  color: black;
  text-indent: 7px;
  outline: none;
}

#button-div {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.button {
  border-radius: 8px;
  padding: 5px 15px;
  box-shadow: 0 2px 2px grey;
  color: black;
  transition: all .15s;
  cursor: pointer;
}
.button:active {
  box-shadow: none;
  transform: translateY(2px);
}

.button.dark-bg { box-shadow: 0 2px 2px black; }

#new-cards { display: none; }
#place-bet { display: none; }
#talk-rules { display: none; }
#talk-ai { display: none; }

#new-cards { margin-right: 8px; }


/* Bottom section of page */
.bottom {
  background-image: url('../img/green-bg.jpg');
  background-size: cover;
  background-repeat: repeat-y;
}
#play-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: calc(100vh - 350px);
  margin: 0 auto;
}

#cards {
  display: grid;
  grid-template-columns: repeat(3, calc(.27 * (100vh - 350px)));
  grid-template-rows: repeat(2, calc(.37 * (100vh - 350px)));
  row-gap: 25px;
  justify-content: space-between;
  width: calc(100vh - 350px);
}

#cards div { 
  background-size: 100% 100%;
  border-radius: 15px; 
  box-shadow: inset 0 0 3px 4px white, 0 0 10px 1px black;
}

#card1, #card2, #card3 { background: url("../img/back.jpg"); }

#card1 { grid-area: 1 / 1 / 1 / 1; }
#card2 { grid-area: 1 / 3 / 1 / 3; }
#card3 { grid-area: 2 / 2 / 2 / 2; }



/* Responsiveness (down to 1366 x 768 for tablets, no design for mobile) */
.not-for-mobile { 
  height: 100vh;
  width: 100vw;
  display: none; 
  background-image: url('../img/green-bg.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  justify-content: center;
  align-content: center;
}
.not-for-mobile p {
  margin: 10vw;
}


@media (max-width: 1599px){
  #talk-area {
    width: 100vw;
    height: 300px;
  }
  #cassie { 
    height: 300px; 
    right: 30px; 
  }
  #info { height: 300px; }
  #talk-bubble { margin-right: 300px; }
  #bubble { 
    width: 450px; 
    padding: 25px; 
  }
  #bubble p { font-size: 22px; }
  #button-div { height: 38px; }
  #bet-amount { height: 40px; }
  .button { font-size: 22px; }

  #play-area { height: calc(100vh - 300px); }
  #cards { 
    width: 75vh;
    row-gap: 0px; 
    grid-template-columns: repeat(3, calc(.30 * (100vh - 350px)));
    grid-template-rows: repeat(2, calc(.41 * (100vh - 350px)));
  }
}

@media (max-width: 1365px) or (max-height: 767px) {
  section.top { display: none; }
  section.bottom { display: none; }
  section.not-for-mobile { display: flex; }
}