@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Domine";
  font-size: 23px;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* background:
  linear-gradient(225deg, steelblue, rgb(255 0 0 / 0) 35%),
  linear-gradient(130deg, navy, rgb(0 255 0 / 0) 35%),
  linear-gradient(315deg, darkblue, rgb(0 0 255 / 0) 32%),
  linear-gradient(220deg, aqua, rgb(0 0 255 / 0) 35%),
  linear-gradient(75deg, turquoise, rgb(0 0 255 / 0) 40%); */
  background-image: url("../img/bg1.webp");
  background-size: cover;
}

main {
  width: 500px;
  display: grid;
  row-gap: 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

header p { text-align: center; }

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

label { padding: 5px 0;}

input[type="text"],
input[type="password"],
input[type="color"] {
  padding: 3px;
  border-radius: 15px;
  text-indent: 5px;
  outline: none;
  width: 250px;
}

input[type="radio"] {
  margin: 10px;
}

label.radio { cursor: pointer; }

input.color-picker { 
  height: 37px;
  padding: 0; 
  cursor: pointer;

}
input.color-picker::-webkit-color-swatch-wrapper { padding: 0; }
input.color-picker::-webkit-color-swatch { border: none; }

.submit-div { grid-column: span 2; }
input#submit-button {
  width: fit-content;
  display: block;
  padding: 7px 30px;
  border-radius: 20px;
  margin: 15px auto 0 auto;
  cursor: pointer;
  background-color: #A9D7E4;
  box-shadow: 0 3px 3px slategrey;
  transition: all .15s;
}
input#submit-button:active:enabled {
  box-shadow: none;
  transform: translateY(3px);
}
input#submit-button:disabled { 
  cursor: not-allowed; 
  box-shadow: none;
}

p.link { text-align: center; }
a { color: black; }

#reqs-div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 20px 0 5px 0;
  grid-column: span 2; 
}
#reqs-div p { 
  margin: 20px 0 5px 0; 
  font-size: 20px; 
}
#reqs-div li { 
  text-indent: 25px; 
  font-size: 20px; 
  position: relative;
}

li.reqs-error {
  color: red;
}

li span img {
  display: none;
  margin-left: 2px;
  height: 30px;
  position: absolute;
  top: -2px;
}


/* Responsiveness */
.not-for-mobile { 
  height: 100vh;
  width: 100vw;
  display: none; 
  justify-content: center;
  align-content: center;
}
.not-for-mobile p {
  margin: 10vw;
}

@media (max-width: 500px) {
  main { display: none; }
  section.not-for-mobile { display: flex; }
}