@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Mozilla Headline";
  font-size: 20px;
}

body {
  display: grid;
  grid-template-rows: 90px auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at 20% 30%, #89f7fe, transparent 60%), radial-gradient(circle at 80% 70%, #66a6ff, transparent 60%);
}

h1 { font-size: 70px; }
h2 { 
  font-size: 26px; 
  font-weight: 500;
}


/* Header CSS */
header {
  display: grid;
  grid-template-columns: auto 90px;
  width: 100vw;
  height: 90px;
  padding: 0 20px;
  margin-top: 5px;
}

#cart-target { 
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
#cart-target.hover { background-color: #66a6ff; }

header img {
  position: absolute;
  top: -4px;
}

header p {
  height: 90px;
  padding-top: 35px;
  font-weight: 900;
  font-size: 32px;
}


/* Main CSS */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-bottom: 50px;
}

div.divider {
  width: 425px;
  border-top: 2px dashed black;
  margin: 0 auto;
}


/* Inputs CSS */
#inputs {
  display: none;
  justify-content: center;
  align-content: space-between;
  height: 700px;
  width: 700px;
  padding: 10px;
  border-radius: 10px;
}

fieldset {
  width: 670px;
  padding: 15px;
  padding-bottom: 20px;
  border-radius: 10px;
}

legend { padding: 0 10px; }

div.sizes, div.pockets {
  display: grid;
  column-gap: 40px;
  width: fit-content;
  margin: 0 auto;
}
div.sizes {  grid-template-columns: repeat(5, max-content); }
div.pockets { grid-template-columns: repeat(3, max-content); }

input[type="radio"] {
  height: 18px;
  width: 18px;
  margin-right: 3px;
}

input[type="color"] {
  display: block;
  height: 75px;
  width: 234px;
  padding: 2px 4px;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 5px;
}

fieldset.logo-or-text {
  display: grid;
  grid-template-rows: auto auto;
  width: 670px;
}

div.logo-picker {
  display: flex;
  justify-content: space-evenly;
  height: 115px;
}
div.logo-picker input { display: none; }
div.logo-picker img { 
  height: 115px;
  width: 110px;
}
div.logo-picker img.opaque { opacity: .5; }
div.logo-picker label { cursor: pointer; }

div.text-picker {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
div.text-picker input.opaque { opacity: .5; }

div.text-picker p.msg {
  height: 17px;
  font-size: 14px;
  color: red;
  opacity: 0;
}

input[type="text"] {
  width: 205px;
  height: 35px;
  border-radius: 5px;
  text-indent: 5px;
  margin-bottom: 3px;
  outline: none;
  font-size: 19px;
}

button {
  display: block;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid slategrey;
  cursor: pointer;
  box-shadow: 0 3px 3px slategrey;
  transition: all .15s;
}
button:active:enabled {
  box-shadow: none;
  transform: translateY(3px);
}
button:disabled { box-shadow: none; }

button#start-over { margin-top: 10px; }
button#build-shirt { margin-bottom: 200px; }


/* Shirt preview CSS */
#shirt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 555px;
  width: 620px;
  position: relative;
}

#preview h2 {
  width: fit-content;
  border-radius: 30px;
  background-color: #66a6ff;
  padding: 10px 75px 10px 40px;
  margin: 0 auto 30px auto;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#preview img.icon {
  position: absolute;
  padding-left: 10px;
  height: 34px;
}


/* Shirt design CSS */
#shirt-design {
  z-index: 1;
  position: relative;
  height: 300px; 
  width: 300px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

#shirt-design p {
  height: 37px;
  font-size: 30px;
  text-align: center;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
#shirt-design p.inactive { opacity: 0; }

#shirt-design img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  transform-origin: center center;
  transform: scale(0);
  transition: all 1s ease-in-out;
}
#shirt-design img.active { transform: scale(1); }

#shirt-design #measurer {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
}

/* Shirt shape */
#shirt-shape { position: absolute; }
.shirt { 
  background-color: white; 
  transition: all 0.5s ease-in-out;
}
.shirt.top.body {
  height: 180px;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}
.shirt.bottom.body { box-shadow: 0 3px 3px black; }
.shirt.arm {
  z-index: -1;
  position: absolute;
  top: 27px;
  box-shadow: 0 3px 3px black;
}
.shirt.l.arm { rotate: 40deg; }
.shirt.r.arm { rotate: -40deg; }
.shirt.pocket {
  position: absolute;
  display: none;
  height: 100px;
  width: 100px;
  top: 150px;
  box-shadow: 0 1px 4px black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.shirt.l.pocket { left: 50px; }
.shirt.r.pocket { right: 50px; }

/* XS */
.xsmall.shirt.body { width: 350px; }
.xsmall.shirt.top.body { height: 144px; }
.xsmall.shirt.bottom.body { height: 356px; }
.xsmall.shirt.arm {
  height: 145px;
  width: 80px;
}
.xsmall.shirt.l.arm { left: -56px; }
.xsmall.shirt.r.arm { right: -56px; }

/* S */
.small.shirt.body { width: 375px; }
.small.shirt.top.body { height: 162px; }
.small.shirt.bottom.body { height: 363px; }
.small.shirt.arm {
  height: 160px;
  width: 90px;
}
.small.shirt.l.arm { left: -59px; }
.small.shirt.r.arm { right: -59px; }

/* M */
.medium.shirt.body { width: 400px; }
.medium.shirt.top.body { height: 180px; }
.medium.shirt.bottom.body { height: 370px; }
.medium.shirt.arm {
  height: 175px;
  width: 100px;
}
.medium.shirt.l.arm { left: -61px; }
.medium.shirt.r.arm { right: -61px; }

/* L */
.large.shirt.body { width: 425px; }
.large.shirt.top.body { height: 196px; }
.large.shirt.bottom.body { height: 379px; }
.large.shirt.arm {
  height: 190px;
  width: 110px;
}
.large.shirt.l.arm { left: -65px; }
.large.shirt.r.arm { right: -65px; }

/* XL */
.xlarge.shirt.body { width: 450px; }
.xlarge.shirt.top.body { height: 212px; }
.xlarge.shirt.bottom.body { height: 388px; }
.xlarge.shirt.arm {
  height: 205px;
  width: 120px;
}
.xlarge.shirt.l.arm { left: -69px; }
.xlarge.shirt.r.arm { right: -69px; }


/* Cart address CSS */
#cart-address { 
  display: none; 
  height: 700px;
  width: 700px;
}

#cart-address p.required { margin-left: 35px; }

#cart-address fieldset { 
  display: grid;
  grid-template-columns: repeat(3, 180px);
  column-gap: 33px;
  margin: 45px 30px;
  padding: 25px 30px 0 30px;
}

#cart-address p.message {
  height: 17px;
  font-size: 14px;
  margin-bottom: 20px;
}

#cart-address .str-addr { grid-column: span 2; }
#cart-address .str-addr input { width: 393px; }

#cart-address label { display: block; }
#cart-address input {
  display: block;
  margin: 3px 0;
  width: 180px; 
}

#cart-address input.error { border-color: red; }


/* Cart contents CSS */
#cart-contents { 
  display: none; 
  height: 700px;
  width: 700px;
  overflow-y: scroll;
}

#cart-contents #summary, 
#cart-contents .cart-item {
  display: grid;
  grid-template-columns: 1fr 65px 100px 100px;
  width: 670px;
  margin: 45px 30px;
  padding: 24px 30px 20px 30px;
  border-radius: 10px;
}

#cart-contents #summary { background-color: #66a6ff; }
#cart-contents .cart-item { background-color: white; }

.summary { grid-column: span 3; }

#cart-contents .right-align {
  text-align: right;
}

#cart-contents p { margin-bottom: 2px; }
span.fancy { text-decoration: underline; }


/* Thanks CSS */
#thanks {
  display: none;
  grid-column: span 2;
  height: 700px;
  width: 700px;
  overflow-y: scroll;
}

#thanks p.appreciate, #thanks h2 { padding: 15px; }

#thanks h2 { text-align: center; }

.order-info p { padding: 15px; }

.shipping-info { padding: 15px; }

#go-again { margin-top: 15px; }